.root {
    -fx-background: rgb(255, 255, 255);
    -fx-font-family:"Roboto Regular";
    -fx-font-size: 15;
    -fx-text-fill: #0e0e0e;

}
.label{

}

.tab {
    -fx-background-color: red;
}

.menu-bar {
    -fx-background-color: #ececec;
    -fx-font-size: 12;
}
.menu-item{
    -fx-font-size: 11;
}

.tool-bar:horizontal {
    -fx-background-color: red;

}

.button:hover {
    -fx-background-color: #4076d8;
    -fx-color: -fx-hover-base;
}


.button {
    -fx-background-color: #438df2;
    -fx-base: rgb(67, 141, 242);
    -fx-background-radius: 20px;
    -fx-text-fill: #0e0e0e;
}

.jfx-text-field {
    -fx-font-family:"Roboto Regular";
    -fx-font-size: 18;
    -fx-text-fill: #0e0e0e;
}

.table-view {
    -fx-table-cell-border-color: derive(-fx-base, +10%);
    -fx-table-header-border-color: derive(-fx-base, +20%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base, 20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fxbase, 20%),
    derive(-fx-base, -20%));
}

.separator-label {
    -fx-text-fill: orange;
}