.root {
    -fx-background: rgb(3, 154, 220);
    -fx-font-family:"Roboto Regular";
    -fx-font-size: 18;
    -fx-text-fill: #0e0e0e;
    -fx-alignment: top-center;
    -fx-spacing: 20;
}

.vbox{
    -fx-background-color: #e20001;

}




.button:hover {
    -fx-background-color: #4076d8;
    -fx-color: -fx-hover-base;
}
.button {
    -fx-background-color: #438df2;
    -fx-base: rgb(242, 9, 0);
    -fx-background-radius: 20px;
    -fx-text-fill: #0e0e0e;
}
.jfx-text-field {
    -fx-font-family:"Roboto Regular";
    -fx-font-size: 18;
    -fx-text-fill: #0e0e0e;
}





